import React, { Component } from 'react';

/**
 * @see  https://zaaksysteem.gitlab.io/npm-mintlab-ui/storybook/?selectedKind={{category}}/{{component}}
 *
 * @reactProps {Array} children
 */
export default class {{component}} extends Component {
  /**
   * @ignore
   */
  static get defaultProps() {
    return {
    };
  }

  // Lifecycle methods:

  /**
   * @see https://reactjs.org/docs/react-component.html#componentdidmount
   */
  componentDidMount() {
  }

  /**
   * @see https://reactjs.org/docs/react-component.html#componentwillunmount
   */
  componentWillUnmount() {
  }

  /**
   * @see https://reactjs.org/docs/react-component.html#render
   *
   * @return {ReactElement}
   */
  render() {
    const { children } = this.props;

    return (
      <div>
        {children}
      </div>
    );
  }

  // Custom methods:

}
