import React from 'react';

/**
 * @param {Object} props
 * @param {Array} props.children
 * @return {ReactElement}
 */
const {{component}} = ({ children }) => (
  <div>
    {children}
  </div>
);

export default {{component}};
