import React from 'react';
import {{component}} from '.';
import { renderToStaticMarkup } from 'react-dom/server';

describe('The `{{component}}` component', () => {

  test('creates the expected HTML', () => {
    const actual = renderToStaticMarkup(<{{component}}>TEST</{{component}}>);
    const expected = '<div>TEST</div>';

    expect(actual).toBe(expected);
  });

});
